name: Publish Release

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

jobs:
  buildRelease:
    name: Build Release APK
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Set up JDK environment
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Setup Python environment
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.10

      - name: Setup APK signing
        run: |
          echo -n ${{ secrets.SIGNING_KEY }} | base64 -d > app/storeFile.jsk
          echo storeFile=storeFile.jsk > custom.properties
          echo storePassword=${{ secrets.KEY_STORE_PASSWORD }} >> custom.properties
          echo keyAlias=${{ secrets.ALIAS }} >> custom.properties
          echo keyPassword=${{ secrets.KEY_PASSWORD }} >> custom.properties

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build app
        run: |
          ./gradlew assembleRelease -PlocalPropertiesFilePath=custom.properties

      - name: Create apk env info entries, move APK
        run: |
          python .github/build_scripts/extract_info.py

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: NovelDokusha v${{ env.APP_VERSION }}
          tag_name: v${{ env.APP_VERSION }}
          files: |
            ${{ env.APK_FILE_PATH_full }}
            ${{ env.APK_FILE_PATH_foss }}
